
.submitbuttons {
	padding: 1px 0px 1px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #fbf9ee;
    background-color: rgba(199, 52, 92, 1);
    border-color: rgba(199, 52, 92, 1);
    border-bottom-color: rgba(199, 52, 92, 1);
	box-shadow:none;
	-webkit-font-feature-settings: "kern";
	font-kerning: normal;
	    font-size: 16px;
		    width: 390px;
    height: 40px;
	    position: absolute;
    left: 479px;
    top: 391px;
	cursor:pointer;
}

.updateprofilebuttons {
	padding: 1px 0px 1px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #fbf9ee;
    background-color: rgba(199, 52, 92, 1);
    border-color: rgba(199, 52, 92, 1);
    border-bottom-color: rgba(199, 52, 92, 1);
	box-shadow:none;
	-webkit-font-feature-settings: "kern";
	font-kerning: normal;
	font-size: 16px;
	width: 490px;
    height: 32px;
	position: absolute;
	left: 463px;
    top: 651px;
	cursor:pointer;
}

.msg {
    padding: 5px 20px;
    background: #ffb;
    color: #333;
	font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
}
#landingpageloginbtn {
	text-decoration: none;
}

#form-fields-box {
	float: left;
	padding-left: 20px;
    	padding-right: 20px;
}

#analysis-results-box {
	padding-left: 20px;
	padding-right:20px;
	float: left;
}
input {
    width: 450px;
}
