<html>
<head>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/mystyles.css" type="text/css" rel="stylesheet">
</head>
<body>
  {% if flashmessage is not None %}<div class="msg"><p>{{ flashmessage }}</p></div>{% endif %}	  

<p>hello world</p>


<form class="form-horizontal" method="POST">
<fieldset>

<!-- Form Name -->
<legend>NVCform</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Observation:</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">When I see you</option>
      <option value="2">When I hear you say</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput"></label>  
  <div class="col-md-4">
  <input id="textinput" name="observation_text" type="text" placeholder="A factual and non-evaluative observation" class="form-control input-md">
  <span class="help-block">e.g. the remote is on the coffee table</span>  
  </div>
</div>

<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectmultiple">I feel:</label>
  <div class="col-md-4">
    <select id="selectmultiple" name="feelings_selected" class="form-control" multiple="multiple">
      <option value="1">frustrated</option>
      <option value="2">angry</option>
    </select>
  </div>
</div>

<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectmultiple">I need:</label>
  <div class="col-md-4">
    <select id="selectmultiple" name="needs_selected" class="form-control" multiple="multiple">
      <option value="1">harmony</option>
      <option value="2">respect</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Would you be willing to:</label>  
  <div class="col-md-4">
  <input id="textinput" name="request_text" type="text" placeholder="A clear, specific, and doable action" class="form-control input-md">
  <span class="help-block">e.g., share your perspective on the issue? , give me 34 hours if you can</span>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="submit_btn" type="submit" class="btn btn-success">Evaluate communication</button>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Resulting text:</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="textarea" name="textarea">When I see/hear you do X, I feel Y,.  I need Z.  Would you be willing to do W?</textarea>
  </div>
</div>

</fieldset>
</form>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
