<html>
<head>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/mystyles.css" type="text/css" rel="stylesheet">
</head>
<body>

<div id="form-fields-box">
<form class="form-horizontal" method="POST">
{% csrf_token %}
{{ form.as_p }}
<fieldset>

<!-- Form Name -->
<legend>Non-violent Communication Evaluation Form</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Observation:</label>
  <div class="col-md-4">
    <select id="selectbasic" name="observation_selected" class="form-control">
      <option value="When I see">zWhen I see</option>
      <option value="When I hear">When I hear</option>
      <option value="When I hear you say">When I hear you say</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput"></label>  
  <div class="col-md-4">
  <input id="textinput" name="observation_text" type="text" placeholder="A factual and non-evaluative observation" class="form-control input-md">
  <span class="help-block">e.g. the remote on the coffee table</span>  
  </div>
</div>

<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectmultiple">I feel:</label>
  <div class="col-md-4">
    <select id="selectmultiple" name="feelings_selected" class="form-control" multiple="multiple">
{% for item in feelings_list %}
<option value="{{item}}">{{item}}</option>
{% endfor %}

      <option value="frustrated">frustrated</option>
      <option value="angry">angry</option>
      <option value="overwhelmed">overwhelmed</option>
    </select>
  </div>
</div>

<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectmultiple">I need:</label>
  <div class="col-md-4">
    <select id="selectmultiple" name="needs_selected" class="form-control" multiple="multiple">
{% for item in needs_list %}
<option value="{{item}}">{{item}}</option>
{% endfor %}
      <option value="harmony">harmony</option>
      <option value="respect">respect</option>
      <option value="love">love</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Would you be willing to:</label>  
  <div class="col-md-4">
  <input id="textinput" name="request_text" type="text" placeholder="A clear, specific, and doable action" class="form-control input-md">
  <span class="help-block">e.g., share your perspective on the issue?</span>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-success">Evaluate communication</button>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Resulting text:</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="textarea" name="resulting_text" rows="6" placeholder="When I see/hear you do X, I feel Y,.  I need Z.  Would you be willing to do W?">{{ resulting_text }}</textarea>
  </div>
</div>

</fieldset>
</form>
</div>
<div id="analysis-results-box">
  {% if flashmessage is not None %}
  <div class="msg">
  {% for s in flashmessage %}
  <p><b>"{{s.0}}":</b>
  {% if s.1 %}
    {% for t in s.1 %}
       "{{t.0}}" : {{t.1}}
    {% endfor %}
  {% else %}
    Looks like a good observation/request!
  {% endif %}

</p>
{% endfor %}
  </div>
  {% endif %}	  
</div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
