<html>
<head>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/mystyles.css" type="text/css" rel="stylesheet">
</head>
<body>

<div id="form-fields-box">
<form class="form-horizontal" method="POST">
{% csrf_token %}
<!-- Form Name -->
<legend>Non-violent Communication Evaluation Form</legend>

<fieldset>
{{ form.as_p }}


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-success">Evaluate communication</button>
  </div>
</div>


</fieldset>
</form>
</div>
<div id="analysis-results-box">


  {% if flashmessage is not None %}
  <div class="msg">
  <legend>Analysis:</legend>
  <p>{{ resulting_text }}</p>

  {% for s in flashmessage %}
  <div><b>"{{s.0}}":</b>
  {% if s.1 %}
    {% for t in s.1 %}
       <div>
       {{t.1}}
       </div>
    {% endfor %}
  {% else %}
    Looks like a good observation/request!
  {% endif %}

</div><br>
{% endfor %}
  </div>
  {% endif %}	  
</div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
